body{
    height: 100vh;
    width:100%;
}
.form-box{
    width:60%;

}
.section{
      height: 100%;
      width:100%;
}

.container{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
